body {
	color: #FFFFFF;
	background: #FFFFFF; font-family : Tahoma, Segoe UI, Arial;
	font-size: 11.5px;
	margin-top: 10px;
	font-family: tahoma, Arial;
}

.full-size {
	width: 980px;
}
.size-1col {
    width: 805px;
}
.size-2cols {
    width: 388px;
}
.size-3cols {
    width: 256px;
}
.padding {
	padding: 3px 7px 3px 7px;
}

img {
	border: none;
}
input,select,textarea {
    border: solid 1px #AAAAAA;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 240px;
    font-size: 1em
}
input:focus,textarea:focus {
    border: solid 1px #EEEEEE;
}

a {
	color: #EEEEEE;
	text-decoration: none;
}

a:hover {
	color: #AA0000;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
}

hr {
	height: 0;
	border: none;
	border-bottom: solid 1px #CCCCCC;
	margin: 2px;
}

/*
input,select,textarea {
	border: solid 1px #AAAAAA;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 208px;
	font-family: tahoma;
	font-size: 1em
}

input:focus,textarea:focus {
	border: solid 1px #EEEEEE;
}
*/
input:hover {
	color: #AA0000;
}

div.title {
	display: block;
	padding: 3px 7px 3px 7px;
	background: #514845;
	font-weight: bold;
}

span.title {
	display: block;
	width: 254px;
	padding: 3px 7px 3px 7px;
	background: #514845;
	font-weight: bold;
}

.container {
	background: #DBDBDB;
	margin-top: 1px;
	padding-bottom: 3px;
}  /*removed width:268px; */

.rounded {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


/*.submenu{padding: 5px 0px 3px 0px;text-align:center;height:18px;margin:0px;}*/
div.row {
	padding: 3px 0px 2px 7px;
	min-height: 24px;
}

div.left {
	width: 112px;
	float: left;
	font-weight: bold;
	padding-top: 2px;
}

div.right {
	width: 52px;
	float: left;
	padding-top: 2px;
}

div.middle {
	width: 88px;
	float: left;
	padding-top: 2px;
}

div.full {
	width: 142px;
	float: left;
	padding-top: 2px;
}

/* Size */
.fullsize {
	width: 998px;
}

.size1 {
	width: 812px;
}
/*
.size3 {
	width: 268px;
}
*/
/* Colors */
.green {
	color: #2A707B;
}

.grey {
	color: #EEEEEE;
}

.alert {
	background: #B5463F;
	color: #FFFFFF;
}
