@CHARSET"ISO-8859-1";body{color:#000000;font-family:tahoma,Arial,sans-serif;font-size:0.8em;margin-top:10px;}
img{border:none;align:center;}
a{color:#EEEEEE;text-decoration:none;}
a:hover{color:#FF0000;}
div.title{display:block;width:772px;padding:3px 7px 3px 7px;background:#514845;font-weight:bold;color:#EEEEEE;}
span.title{display:block;width:241px;padding:3px 7px 3px 7px;background:#514845;font-weight:bold;color:#EEEEEE;}
div.row{display:block;padding:7px 0px 0px 7px;min-height:20px;}
.container{width:254px;background:#DBDBDB;margin-top:1px;}
.serverlist{;background:#B5463F;margin-top:1px;font-weight:bold;}
.rounded{-moz-border-radius:8px 8px 8px 8px;}
div.left{width:107px;float:left;font-weight:bold;}
div.right{width:52px;float:left;}
div.middle{width:79px;float:left;}
div.full{width:133px;float:left;}
div.clear{float:none;clear:both;height:0px;}
.stats{color:#2A707B;}
hr {height: 0; border: none; border-bottom: solid 1px #EEEEEE; }
